<div class=" border-top">
    <div class="center-align gap">
                    
        <div>Source code at <a href="https://www.github.com/iAnas19/StoryBooks" class="blue-text">Github</a></div>
        <div>BookStory Web Application Ⓒ {{formatDate createdAt 'YYYY'}}</div>
    </div>
</div>
